<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30230" type="lsep"/>
		<setting label="30110" type="select" id="prefVideoQuality" lvalues="30111|30112|30113|30114" default="1" option="int"/>
		<setting type="sep"/>
		<setting label="30231" type="lsep"/>
		<setting label="30115" type="bool" id="useThumbAsFanart" default="true"/>
		<setting type="sep"/>
		<setting label="30232" type="lsep"/>
		<setting label="30116" type="bool" id="show_settings" default="true"/>
	</category>
</settings>