<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30230" type="lsep"/>
		<setting label="30110" type="slider" id="cacherhythm" range="6,6,72" default="12" option="int"/>
		<setting type="sep"/>
		<setting label="30231" type="lsep"/>
		<setting label="30112" type="bool" id="inputstream" default="false"/>
		<setting label="30350" type="text" option="readable" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30113" type="enum" id="streamSelection" values="m3u8|mp4" default="1" enable="eq(-3,false)"/>
		<setting label="30114" type="select" id="prefVideoQuality" lvalues="30155|30156|30157|30158" default="0" option="int" enable="eq(-1,1)+eq(-4,false)"/>
	</category>
</settings>
